In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('01_Contract_Data.csv')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [8]:
df1.isnull().sum() # 각 필드에 널값이 있는 애들을 세서 더해줘

Index               0
Member_ID           0
Sales_Type          0
Contract_Type       0
Channel             0
Datetime            0
Term                0
Payment_Type        0
Product_Type        0
Amount_Month        0
Customer_Type       2
Age              6972
Address1            2
Address2            2
State               0
Overdue_count       0
Overdue_Type        0
Gender              0
Credit_Rank      8781
Bank             2759
dtype: int64

In [12]:
df1.dropna() # 이건 결측치가 없는 상태의 데이터를 보여준거고 / 일종의 전처리 과정

df2 = df1.dropna()# 진짜로 받으려면 이전에 선언한 변수를 다시 재선언해야함

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40647 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          40647 non-null  int64
 1   Member_ID      40647 non-null  int64
 2   Sales_Type     40647 non-null  object
 3   Contract_Type  40647 non-null  object
 4   Channel        40647 non-null  object
 5   Datetime       40647 non-null  object
 6   Term           40647 non-null  int64
 7   Payment_Type   40647 non-null  object
 8   Product_Type   40647 non-null  object
 9   Amount_Month   40647 non-null  int64
 10  Customer_Type  40647 non-null  object
 11  Age            40647 non-null  float64
 12  Address1       40647 non-null  object
 13  Address2       40647 non-null  object
 14  State          40647 non-null  object
 15  Overdue_count  40647 non-null  int64
 16  Overdue_Type   40647 non-null  object
 17  Gender         40647 non-null  object
 18  Credit_Rank    40647 non-null  float64
 19  Bank           40647 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 6.5+ MB

In [14]:
df2['State'].value_counts() # 컬럼.value_counts()

State
계약확정     40104
해약확정       498
기간만료        33
해약진행중       12
Name: count, dtype: int64

In [16]:
Y = df2['State'].replace('계약확정','0').replace('기간만료','0').replace('해약확정','1').replace('해약진행중','1') 
# 머신러닝이 돌리는 건 다 숫자형태이여야 하기 때문에 문자형 칼럼을 숫자로 바꿔준다.
Y.value_counts()

State
0    40137
1      510
Name: count, dtype: int64

In [17]:
df2.columns
# 설명변수는 너무 많아서 다 나열하기 귀찮...그래서 colums 매서드로 다 나오게 해서 복붙한다.

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [18]:
X = df2[['Term','Amount_Month','Age','Overdue_count','Credit_Rank']]
X.head()
# X.tail()

   Term  Amount_Month   Age  Overdue_count  Credit_Rank
0    60         96900  42.0              0          9.0
1    60        102900  39.0              0          2.0
2    60         96900  48.0              0          8.0
3    12         66900  39.0              0          5.0
4    12         66900  60.0             12          8.0

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
# 평가하는데 가장 많이 사용하는 것 (평가 측정하는 라이브러리)
from sklearn.metrics import accuracy_score

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)

- X는 설명변수, Y는 목표변수 전체 데이터에서 30%를 테스트 샘플로 만들어줘. 
- X_train, X_Test, Y_train, Y_test 의 구조가 자동적으로 분리가 되게 만들어 준다.
- train = 학습 데이터 / test = 검증 데이터

In [24]:
model = DecisionTreeClassifier()

 # 모델에 학습을 시키는 fit 메서드
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [28]:
## 평가 ##

# 모델안에 데이터를 픽해서 학습을 시켰어(DecisionTree 알고리즘으로) -> 
# 정말 잘 예측을 하는지 X_train 위치에 데이터를 넣어본다. 
# Y_train이랑 똑같이 나오면 100%에 정확도

Y_trin_pred = model.predict(X_train)
# print(Y_trin_pred)
Y_test_pred = model.predict(X_test)

In [33]:
accuracy_score(Y_test, Y_test_pred)

0.9896678966789668

In [34]:
accuracy_score(Y_train,Y_trin_pred)

0.98731196400956